<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="google-signin-client_id" content="351815199905-7866h3vhn4lrd4qbe8bk0l8sej8qdaj2.apps.googleusercontent.com">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
<body>
  <section class="main-container">
  <!-- BEFORE -->
    <%- body %>
  <!-- AFTER -->
  </section>
  <footer class="footer">
    <section class="footer-left">
      <h3>Appointment<span> System</span></h3>
      <p class="footer-name">Appointment System &copy; 2020</p>
    </section>
    <section class="footer-center">
      <article>
        <i class="fa fa-map-marker"></i>
		    <p><span>Illinois Institute of Technology, 10 West 35th Street</span> Chicago, IL 60616</p>
      </article>
      <article>
        <i class="fa fa-envelope"></i>
        <p><a href="mailto:itmd567.test@gmail.com">itmd567.test@gmail.com</a></p>
      </article>
    </section>
  </footer>
  <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
</body>
</html>