<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="google-signin-client_id" content="351815199905-7866h3vhn4lrd4qbe8bk0l8sej8qdaj2.apps.googleusercontent.com">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
<body>
  <!-- BEFORE -->
  <%- body %>
  <!-- AFTER -->
  <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
 
</body>
</html>