<title>Appointment Form</title>
 
<nav id="navID">
<input type="checkbox" id="nav-menu">
<label for="nav-menu">
  <i class="fas fa-bars" id="sign-one"></i>
    <i class="fas fa-times" id="sign-two"></i>
    </label>
  <h1><a class="logo" id="logo-link" href="/menu"><img class="logo view-appointment" src="/images/logo.png" alt="appt-logo"></a></h1>
  <ul>
    <li><a href="/appointment/view-appointment"><span id="view-appointment"></span>View Appointments</a></li>
    <li><a class="logout-btn" href="/auth/logout"><span id="logout-icon"></span>Logout</a></li>
  </ul>
</nav>

<% if(success != ''){%>
<section class="alert">
  <strong><%= success%></strong>
</section>
<%}%>
<section id="appointmentForm">
  <h1>Welcome, <%=user.userName%></h1>
<h1>Appointment Form</h1>
<form method="post" action="/appointment" id="formVal">
  <table id="form">
    <tr>
      <td>Summary:</td>
      <td><input type="text" id="summary" name="summary"></td>
    </tr>
    <tr>
      <td>Location:</td>
      <td><input type="text" id="location" name="location"></td>
    </tr>
    <tr>
      <td>Description:</td>
      <td><input type="text" id="description" name="description"></td>
    </tr>
    <tr>
      <td>Start Date:</td>
      <td><input type="date" id="startDate" name="startDate"></td>
    </tr>
    <tr>
      <td>End Date:</td>
      <td><input type="date" id="endDate" name="endDate"></td>
    </tr>
    <tr>
      <td>Start Time:</td>
      <td><input type="time" id="startTime" name="startTime"></td>
    </tr>
    <tr>
      <td>End Time</td>
      <td><input type="time" id="endTime" name="endTime"></td>
    </tr>
    <tr>
      <td>Recurrence: (#)</td>
      <td><input type="number" id="recurrence" name="recurrence"></td>
    </tr>
    <tr>
      <td>Attendee Email(s):</td>
      <td><input type="email" id="attendees" name="attendees" multiple></td>
    </tr>
    <tr>
      <td>Reminders:</td>
      <td><input type="text" id="reminders" name="reminders"></td>
    </tr>
  </table>
  <br>
  <span id="error"></span>
  <input type="button" value="Submit" id="form-btn" />
</form>
</section>

<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/a05bed8e85.js" crossorigin="anonymous"></script>
<script src="https://apis.google.com/js/api.js"></script>
<script rel="javascripts" src="/javascripts/scripts.js"></script>