<title>Homepage</title>

<nav id="navID">
  <input type="checkbox" id="nav-menu">
  <label for="nav-menu">
    <i class="fas fa-bars" id="sign-one"></i>
      <i class="fas fa-times" id="sign-two"></i>
     </label>
    <h1><a class="logo" id="logo-link"><img class="logo view-appointment" src="/images/logo.png" height="50" width="179" alt="appt-logo"/></a></h1>
    <ul>
      <li><a href="/auth/google">Login with Google</a></li>
    </ul>
</nav>

<section class="main-logo">
  <img src="/images/websystem.png" id="websystempng" height="179" width="158" />
</section>

<script src="https://kit.fontawesome.com/a05bed8e85.js" crossorigin="anonymous"></script>
<script src="https://apis.google.com/js/api.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script rel="javascripts" src="/javascripts/socket.io.js"></script>
<script rel="javascripts" src="/javascripts/scripts.js"></script>
