    <title>Application Login</title>
    <nav>
      <img class="logo view-appointment" src="/images/logo.png" />
      <a href="/auth/google" class="google-btn">Login with Google</a>
    </nav>
    <section class="main-logo">
      <img src="/images/websystem.png" id="websystempng" />
    </section>
