<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <meta name="google-signin-client_id" content="721662891407-m2p7me92ecd0ruci948val1njj4prh7n.apps.googleusercontent.com">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <title>User_Form</title>
  </head>
  <body>
    <nav>
      <img class="logo view-appointment" src="/images/logo.png" />
      <a href="/auth/google" class="google-btn">Login with Google</a>
    </nav>
    <section class="main-logo">
      <img src="/images/websystem.png" id="websystempng" />
    </section>
  </body>
</html>
