<title>Main Menu</title>
    <nav>
      <img class="logo view-appointment" src="/images/logo.png" />
      <a href="/appointment/view-appointment"><span id="view-appointment"></span>View Appointments</a>
      <a href="./appointment"><span id="create-appointment"></span>Create Appointment</a>
      <a class="logout-btn" href="/auth/logout"><span id="logout-icon"></span>Logout</a>
    </nav>
    <section id="appointmentForm">
      <h1>Welcome, <%=user.userName%></h1>
    </section>