<title>Main Menu</title>

<nav id="navID">
  <input type="checkbox" id="nav-menu">
  <label for="nav-menu">
    <i class="fas fa-bars" id="sign-one"></i>
      <i class="fas fa-times" id="sign-two"></i>
  </label>
  <h1><a class="logo" id="logo-link" href="/menu"><img class="logo view-appointment" src="/images/logo.png" height="50" width="179" alt="appt-logo"/></a></h1> 
  <ul>
    <li><a href="./appointment"><span id="create-appointment"></span>Create Appointment</a></li>
    <li><a href="/appointment/view-appointment"><span id="view-appointment"></span>View Appointments</a></li>
    <li><a class="logout-btn" href="/auth/logout"><span id="logout-icon"></span>Logout</a></li>
  </ul>
</nav>

<section id="appointmentForm">
  <h1>Welcome, <%=user.userName%></h1>
</section>

<title>Main Menu</title>

<script src="https://kit.fontawesome.com/a05bed8e85.js" crossorigin="anonymous"></script>
<script src="https://apis.google.com/js/api.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script rel="javascripts" src="/javascripts/socket.io.js"></script>
<script rel="javascripts" src="/javascripts/scripts.js"></script>

