body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

*{
  margin: 0;
  padding: 0;
}

.main-container{
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: block;
}

table {
  margin-left: auto;
  margin-right: auto;
}


.google-btn{
  background-color: red;
  color: white;
  float: right;
}
  

.logo{
  height: 50px;
  float: left;
  width: 195px;
  padding: none;
}

#view-appointment{
  background: transparent url(/images/list_icon.png) center left no-repeat;
  background-size: 20px;
  padding: 15px;
}

#logout-icon{
  background: transparent url(/images/logout_icon.png) center left no-repeat;
  background-size: 20px;
  padding: 15px;
}

#form-icon{
  background: transparent url(/images/form_icon.png) center left no-repeat;
  background-size: 20px;
  padding: 15px;
}

#create-appointment{
  background: transparent url(/images/form_icon.png) center left no-repeat;
  background-size: 20px;
  padding: 15px;
}


nav{
  height: 50px;
  background: white;
  border-bottom: 2px solid #bdc3c7;
  -webkit-box-shadow: 0 10px 5px -10px #bdc3c7;
  -moz-box-shadow: 0 10px 5px -10px #bdc3c7;
  box-shadow:0px 10px 5px -10px #bdc3c7;
}

nav h1{
  position: absolute;
  width: 200px;
  color: #fff;
  text-transform: uppercase;
}

nav li:hover > a{
  color: white;
}

nav li:hover{
  background-color: black;
}

nav ul{
  float:right;
  list-style:none;
}

nav ul li{
  display: inline-block;
  line-height: 50px;
  margin-left: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

nav ul li a{
  position: relative;
  padding: 5px 0;
  font-size: 18px;
  text-decoration: none;
  color: black;
  text-align: center;
  text-decoration: none;
}

label #sign-one, label #sign-two{
  font-size: 30px;
  color:black;
  float: right;
  line-height: 50px;
  margin-right: 30px;
  cursor: pointer;
  display: none;
}

#nav-menu{
  display:none;
}

@media (max-width: 870px){
  label #sign-one{
    display:block;
  }
  
  nav ul{
    position: fixed;
    width: 100%;
    height:100vh;
    background: black;
    top: 50px;
    left: -100%;
    text-align: center;
    transition: .5s;
    z-index: 10;
  }
  
  nav ul li{
    display:block;
    margin: 30px 0;
    line-height: 30px;
  }
  
  nav ul li a{
    font-size: 20px;
    color: white;
  }
  
  #nav-menu:checked ~ ul{
    left:0;
  }
  #nav-menu:checked ~ label #sign-one{
    display:none;
  }
    #nav-menu:checked ~ label #sign-two{
    display:block;
  }
}

/*End*/

#websystempng {
  width: 45%;
  height: 40%;
}

/*Appointment Form CSS*/

#error{
  color: red;
  background-color: rgba(207, 0, 15, 0.2);
  padding: 5px;
  border-radius: 5px;
  display: none;
  margin-bottom: 15px;
}

#appointmentForm{
  text-align: center;
  display: block;
  max-width: 400px;
  width: 100%;
  margin: 20px auto;
}

#appointmentForm h1{
  margin-bottom: 24px;
  font-size: 22px;
}

#formVal{
  text-align: center;
  font-size: 14px;
  background: #F9F9F9;
  padding: 25px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  position: relative;
}

#form{
  width: 100%;
}

#form td{
  padding-right: 15px;
}

#formVal h3 {
  text-align: center;
  display: block;
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 25px;
}


input[type=text], input[type=number], input[type=date], input[type=time],input[type=email]{
  border: 1.5px solid rgb(46, 49, 49);
  border-radius: 3px;
  padding: 8px;
  width: 100%;
  margin-bottom: 7px;
  min-width: 100%;
}

input[type=button], input[type=submit], .btn{
  background-color: rgb(30, 139, 195);
  border: none;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}


.operation-btns{
  text-align: center;
}

/*Appointment List*/

.appointment-list{
  text-align: center;
  display: block;
  margin-top: 20px;
}

.appointment-list h1{
  font-size: 22px;
}

.table-css {
  border: 1px solid #ccc;
  width: 80%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 20px;
}

.table-css tr {
  border: 1px solid #ddd;
  padding: 5px;
}

.table-css th,
.table-css td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

.table-css th {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

.main-logo{
  text-align: center;
}

.logo{
  height: 100%;
  float: left;
}

#eventID, #mongoID {
  display: none;
}


/*-------Footer-----*/
.footer{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
  padding: 50px 50px;
  margin-top: 80px;
  bottom: 0;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right{
	display: inline-block;
	vertical-align: top;
}

.footer .footer-left{
	width: 35%;
}

.footer .footer-center{
	width: 35%;
}

.footer h3{
  color:  rgb(30, 139, 195);
	font: normal 20px 'Lucida Grande';
  margin: 0;
  margin-bottom: 10px;
}

.footer h3 span{
	color:  #ffffff;
}

.footer .footer-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

.footer .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	vertical-align: middle;
}

.footer .footer-center i.fa-envelope{
	font-size: 16px;
  line-height: 38px;
  margin-top: 10px;
}

.footer .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer .footer-center p a{
	color:  rgb(30, 139, 195);
	text-decoration: none;;
}

.footer-distributed .footer-center p a{
	color:  rgb(30, 139, 195);
	text-decoration: none;;
}

.alert {
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  background-color: #21bf73; /* Red */
  color: white;
  margin-bottom: 15px;
  -webkit-animation: seconds 1.0s forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 1s;
  animation: seconds 1.0s forwards;
  animation-iteration-count: 1;
  animation-delay: 1s;
}

.red-alert {
  background-color:red; /* Red */  
}
@-webkit-keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;  
  }
}
@keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
