body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

table {
  margin-left: auto;
  margin-right: auto;
}

/* Nav bar CSS */

.google-btn{
  background-color: red;
  color: white;
  display: block;
  float: right;
}

nav {
  background-color: white;
  overflow: hidden;
  height: 45px;
  border-bottom: 2px solid #bdc3c7;
  -webkit-box-shadow: 0 10px 5px -10px #bdc3c7;
	-moz-box-shadow: 0 10px 5px -10px #bdc3c7;
  box-shadow:0px 10px 5px -10px #bdc3c7;
}

nav a {
  float: left;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  padding: 14px 16px;
}

nav a#logo-link {
  padding: 0%;
}

nav a:hover {
  background-color: black;
  color: white;
}

nav a.active{
  background-color: #4CAF50;
  color: black;
}

.logout-btn{
  float: right;
}

#view-appointment{
  background: transparent url(/images/list_icon.png) center left no-repeat;
  background-size: 20px;
  padding: 15px;
}

#logout-icon{
  background: transparent url(/images/logout_icon.png) center left no-repeat;
  background-size: 20px;
  padding: 15px;
}

#form-icon{
  background: transparent url(/images/form_icon.png) center left no-repeat;
  background-size: 20px;
  padding: 15px;
}

#create-appointment{
  background: transparent url(/images/form_icon.png) center left no-repeat;
  background-size: 20px;
  padding: 15px;
}

#websystempng {
  width: 45%;
  height: 40%;
}

/*Appointment Form CSS*/

#error{
  color: red;
  background-color: rgba(207, 0, 15, 0.2);
  padding: 5px;
  border-radius: 5px;
  display: none;
  margin-bottom: 15px;
}

#appointmentForm{
  text-align: center;
  display: block;
}

#form{
  text-align: left;
  font-size: 14px;
}

input[type=text], input[type=number], input[type=date], input[type=time] {
  border: 2px solid rgb(46, 49, 49);
  border-radius: 4px;
  padding: 5px;
  width: 100%;
}

input[type=submit], .btn{
  background-color: rgb(30, 139, 195);
  border: none;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  margin: 4px 2px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.operation-btns{
  text-align: center;
}

/*Appointment List*/

.appointment-list{
  text-align: center;
  display: block;
}

.table-css {
  border: 1px solid #ccc;
  width: 80%;
  border-collapse: collapse;
  border-spacing: 0;
}

.table-css tr {
  border: 1px solid #ddd;
  padding: 5px;
}

.table-css th,
.table-css td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

.table-css th {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

.main-logo{
  text-align: center;
}

.logo{
  height: 100%;
  float: left;
}

#eventID, #mongoID {
  display: none;
}

.alert {
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  background-color: #21bf73; /* Red */
  color: white;
  margin-bottom: 15px;
  -webkit-animation: seconds 1.0s forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 1s;
  animation: seconds 1.0s forwards;
  animation-iteration-count: 1;
  animation-delay: 1s;
}


@-webkit-keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;  
  }
}
@keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* Edit pop-up form
#edit-pop-up-form {
  display: none;
  width: 30%;
  position: relative;
   POSITIONING
  left: 40%;
  top: 40%;
  transform: translate(-40%, 100%);
  
  text-align: center;
  background-color: gold;

} */