<!DOCTYPE html>
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Main Menu</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  <body>
    <nav>
      <img class="logo view-appointment" src="/images/logo.png" style="float: left;"/>
      <a href="/appointment/view-appointment"><span id="view-appointment"></span>View Appointments</a>
      <a class="logout-btn" href="/auth/logout"><span id="logout-icon"></span>Logout</a>
    </nav>
    <br><br><a href="./appointment"><button >Create New Event</button></a><br><br>
    <script src="" async defer></script>
  </body>
</html>
